@font-face {
    font-family: "Montserrat Medium";
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

body{
    font-family: Montserrat;
}

/* Responsive Design */

@media (min-width: 1024px) {

/* Grid Layout Index*/

.gridContainer{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   sidebar" auto
    "footer footer"  auto /
    auto    230px; 
}

.gridHeader{
    grid-area: header;
    background-color: white ;
}

.gridMain{
    grid-area: main;
    background-color: white;
}

.gridSidebar{
    grid-area: sidebar;
    background-color: white;
}

.gridFooter{
    grid-area: footer;
    background-color: gray;
}

/* Cierre grid layout index */

/* Grid layout nosotros */

.gridContainerNosotros{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainNosotros{
    grid-area: main;
}

.gridMainNosotros .gridMainContainerNosotros{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.flexNosotros{
    grid-column: 1/4;
    margin: 0 120px 0 120px
}

.flexNosotros h1{
    display: flex;
    justify-content: center;;
}

.flexNosotros p{
    display: flex;
    text-align: justify;
}

/* Cierre grid layout nosotros */

/* Grid layout novedades */

.gridContainerNovedades{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainNovedades{
    grid-area: main;
}

.gridMainNovedades .gridMainContainerNovedades{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gridMainContainerNovedades{
    grid-column: 1/4;
    margin: 0 120px 0 120px
}

.titleLastNewsNovedades{
    grid-column: 1/4;
}

.titleLastNewsNovedades h1{
    display: flex;
    justify-content: center;
}

.lastNewOneNovedades{
    display: flex;
    margin: 0px 120px 0px 120px;
    grid-column: 1/4;
}

.lastNewOneNovedades p{
    padding: 10px;
    text-align: justify;
}

.lastNewOneNovedades img{
    border-radius: 10px;
}

.lastNewTwoNovedades{
    display: flex;
    margin: 50px 120px 50px 120px;
    flex-direction: row-reverse;
    grid-column: 1/4;
}

.lastNewTwoNovedades p{
    padding: 10px;
    text-align: justify;
}

.lastNewTwoNovedades img{
    border-radius: 10px;
}

/* Cierre grid layout novedades */

/* Grid layout educación */

.gridContainerEducacion{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainEducacion{
    grid-area: main;
}

.gridMainEducacion .gridMainContainerEducacion{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gridMainContainerEducacion{
    grid-column: 1/4;
    margin: 0 120px 0 120px
}

.titleLastNewsEducacion{
    grid-column: 1/4;
}

.titleLastNewsEducacion h1{
    display: flex;
    justify-content: center;
}

.lastNewOneEducacion{
    display: flex;
    margin: 0px 120px 0px 120px;
    grid-column: 1/4;
}

.lastNewOneEducacion p{
    padding: 10px;
    text-align: justify;
}

.lastNewOneEducacion img{
    border-radius: 10px;
}

.lastNewTwoEducacion{
    display: flex;
    margin: 50px 120px 50px 120px;
    flex-direction: row-reverse;
    grid-column: 1/4;
}

.lastNewTwoEducacion p{
    padding: 10px;
    text-align: justify;
}

.lastNewTwoEducacion img{
    border-radius: 10px;
}

/* Cierre grid layout educación */

/* Grid layout galeria */

.gridContainerGaleria{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainGaleria{
    grid-area: main;
}

.gridMainGaleria .gridMainContainerGaleria{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gridMainContainerGaleria{
    grid-column: 1/4;
    margin: 0 80px 0 80px;
}

.gridMainGaleria .gridMainContainerGaleria h1{
    grid-column: 1/6;
    justify-content: center;
    text-align: center;
}

.gridMainContainerGaleria .cardOne{
    display: flex;
    grid-column: 1/2;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardTwo{
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardThree{
    display: flex;
    grid-column: 3/4;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardFour{
    display: flex;
    grid-column: 4/5;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardFive{
    display: flex;
    grid-column: 1/2;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardSix{
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardSeven{
    display: flex;
    grid-column: 3/4;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardEight{
    display: flex;
    grid-column: 4/5;
    justify-content: center;
    margin-bottom: 30px;
}

/* Cierre grid layout galeria */

/* Grid layout contacto */

.gridContainerContacto{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainContacto{
    grid-area: main;
}

.gridMainContacto .gridMainContainerContacto h1{
    grid-column: 1/3;
    justify-content: center;
    text-align: center;
}

.gridMainContacto .gridMainContainerContacto{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gridMainContainerContacto{
    grid-column: 1/3;
    margin: 0 80px 0 80px;
}

.gridMainContacto .gridMainContainerContacto .contactForm{
    display: flex;
    grid-column: 1/2;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    list-style: none;
}

.contactPhone, .contactLocalization, .contactFacebook, .contactInstagram{
    display: flex;
    justify-content: flex-start;
    margin: 2px;
}

.contactPhone a, .contactLocalization a, .contactFacebook a, .contactInstagram a{
    text-decoration: none;
    color: black;
}

.contactFormTextArea{
    width: 60%;
}

.contactFormTextArea form{
    display: flex;
    width: 300px;
    padding: 10px;
    margin: auto
}

.contactFormTextArea input{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.contactFormTextArea #enviar{
    transition: all 0.3s ease 0s;;
}

.contactFormTextArea #enviar:hover{
    background-color: #208b3b;
}

.contactFormTextArea textarea{
    width: 100%;
    height: 250px;
    padding: 10px;
    resize: none;
    border: 1px solid #000;
    border-radius: 10px;
}

/* Cierre grid layout contacto */



/* Barra de navegación */
.logoNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#ecoLogo{
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.navLinks{
    list-style: none;
}

.navLinks a{
    text-decoration: none;
    color: black;
}

.navLinks li{
    display: inline-block;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #208b3b;
}

.donate button{
    /* margin-top: -100%; */
    color: white;
    margin-left: auto;
    padding: 10px 25px;
    background-color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.donate button:hover {
    background-color: #208b3b
}

/* Cierre barra de navegación */

/* Main */

.flexLastNews{
    display: flex;
    align-content: center;
    flex-direction: column;
}

.titleLastNews{
    margin: auto;
}

.lastNewOne{
    display: flex;
    margin: auto;
}

.lastNewOne p{
    display: flex;
    text-align: justify;
}

.lastNewOne img{
    display: block;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.lastNewTwo{
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
}

.lastNewTwo img{
    border-radius: 10px;
}

.gridSidebar .comoLlegar{
    justify-content: center;
}

.comoLlegar h2{
    font-size: 15px;
    text-align: center;
}

.comoLlegar iframe{
    border-radius: 10px;
    margin-left: 15px ;
    margin-right: 15px;
    justify-items: center;
}


/* Footer */

.gridFooter .gridFooterContainer{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Navegacion footer */

.gridFooter .gridFooterContainer .navBarFooter{
    display: flex;
    justify-content: center;
}

.gridFooter .gridFooterContainer .navBarFooter h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}
.gridFooter .gridFooterContainer .navBarFooter .navLinksFooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navLinksFooter{
    list-style: none;
}

.navLinksFooter a{
    text-decoration: none;
    color: black;
}

.navLinksFooter li{
    display: block;
}

.navLinksFooter li a{
    transition: all 0.3s ease 0s;
}

.navLinksFooter li a:hover{
    color: #208b3b;
}

/* Cierre navegacion footer */

/* Redes y copyright footer */

.gridFooter .gridFooterContainer .socialMediaFooter h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
}

.gridFooter .gridFooterContainer .socialMediaFooter .redesFooter{
    display: flex;
    justify-content: center;
}


.gridFooter .gridFooterContainer .socialMediaFooter #copyright{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 12px;
}

.redesFooter img{
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: all 0.3s ease 0s
}

.redesFooter img:hover{
    transform: scale(1.2, 1.2);
}


/* Cierre redes y copyright footer */

/* Cierre Footer */
}

/* Mobile */

@media (min-width: 320px) and (max-width: 480px){
.gridContainer{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"   auto
    "main   main"     auto
    "sidebar sidebar" auto
    "footer footer"   auto /
    auto    230px;
    border: 1px solid black;
}

.gridHeader{
    grid-area: header;
    background-color: white ;
}

.gridMain{
    grid-area: main;
    background-color: white;
}

.gridSidebar{
    grid-area: sidebar;
    background-color: white;
}

.gridFooter{
    grid-area: footer;
    background-color: gray;
}

/* Barra de navegación */

.logoNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#ecoLogo{
    width: 100px;
    height: 100px;
    margin-right: auto;
}


.navLinks{
    list-style: none;
    margin-right: 32px;
}

.navLinks a{
    text-decoration: none;
    color: black;
}

.navLinks li{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #208b3b;
}

.donate button{
    /* margin-top: -100%; */
    color: white;
    margin-left: auto;
    padding: 10px 25px;
    background-color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.donate button:hover {
    background-color: #208b3b
}

/* Cierre barra de navegación */

/* Main Index */

.flexLastNews{
    display: flex;
    align-content: center;
    flex-direction: column;
}

.titleLastNews{
    margin: auto;
}

.lastNewOne{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
}

.lastNewOne p{
    display: flex;
    text-align: justify;
}

.lastNewOne img{
    border-radius: 10px;
    margin: auto;
}

.lastNewTwo{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
}

.lastNewTwo img{
    border-radius: 10px;
    margin: auto
}

.gridSidebar .comoLlegar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comoLlegar h2{
    font-size: 15px;
    text-align: center;
}

.comoLlegar iframe{
    display: flex;
    border-radius: 10px;
    margin: auto;
    justify-items: center;
}

/* Cierre Main Index */

/* Grid Layout Nosotros */

.gridContainerNosotros{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainNosotros{
    grid-area: main;
}

.gridMainNosotros .gridMainContainerNosotros{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.flexNosotros{
    grid-column: 1/4;
    margin: 0 30px 0 30px
}

.flexNosotros h1{
    display: flex;
    justify-content: center;;
}

.flexNosotros p{
    display: flex;
    text-align: justify;
}

/* Cierre grid layout nosotros */

/* Grid layout novedades */

.gridContainerNovedades{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainNovedades{
    grid-area: main;
}

.gridMainNovedades .gridMainContainerNovedades{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gridMainContainerNovedades{
    grid-column: 1/4;
    margin: 0 20px 0 20px
}

.titleLastNewsNovedades{
    grid-column: 1/4;
}

.titleLastNewsNovedades h1{
    display: flex;
    justify-content: center;
}

.lastNewOneNovedades{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/4;
}

.lastNewOneNovedades p{
    padding: 10px;
    text-align: justify;
}

.lastNewOneNovedades img{
    border-radius: 10px;
}

.lastNewTwoNovedades{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/4;
}

.lastNewTwoNovedades p{
    padding: 10px;
    text-align: justify;
}

.lastNewTwoNovedades img{
    border-radius: 10px;
}

/* Cierre grid layout novedades */

/* Grid layout educación */


.gridContainerEducacion{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainEducacion{
    grid-area: main;
}

.gridMainEducacion .gridMainContainerEducacion{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gridMainContainerEducacion{
    grid-column: 1/4;
    margin: 0 20px 0 20px
}

.titleLastNewsEducacion{
    grid-column: 1/4;
}

.titleLastNewsEducacion h1{
    display: flex;
    justify-content: center;
}

.lastNewOneEducacion{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/4;
}

.lastNewOneEducacion p{
    padding: 10px;
    text-align: justify;
}

.lastNewOneEducacion img{
    border-radius: 10px;
}

.lastNewTwoEducacion{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/4;
}

.lastNewTwoEducacion p{
    padding: 10px;
    text-align: justify;
}

.lastNewTwoEducacion img{
    border-radius: 10px;
}

/* Cierre grid layout educación */


/* Grid layout galeria */


.gridContainerGaleria{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainGaleria{
    grid-area: main;
}

.gridMainGaleria .gridMainContainerGaleria{
    display: grid;
    width: 100%;
    margin: auto;
    gap: 10px;
}

.gridMainContainerGaleria{
    margin: 0 20px 0 20px;
}

.gridMainGaleria .gridMainContainerGaleria h1{
    justify-content: center;
    text-align: center;
}

.gridMainContainerGaleria .cardOne{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardTwo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardThree{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardFour{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardFive{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardSix{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardSeven{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gridMainContainerGaleria .cardEight{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


/* Cierrer grid layout galeria */

/* Grid layout contacto */


.gridContainerContacto{
    display: grid;
    gap: 10px;
    grid-template: 
    "header header"  auto
    "main   main" auto
    "footer footer"  auto /
    auto    auto; 
}

.gridMainContacto{
    grid-area: main;

}

.gridMainContacto .gridMainContainerContacto h1{
    grid-column: 1/3;
    justify-content: center;
    text-align: center;
}

.gridMainContacto .gridMainContainerContacto{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
}

.gridMainContainerContacto{
    margin: 0 80px 0 80px;
}

.gridMainContacto .gridMainContainerContacto .contactForm{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    list-style: none;
}

.contactPhone, .contactLocalization, .contactFacebook, .contactInstagram{
    display: flex;
    justify-content: flex-start;
    margin: 2px;
}

.contactPhone a, .contactLocalization a, .contactFacebook a, .contactInstagram a{
    text-decoration: none;
    color: black;
}

.contactFormTextArea{
    width: 60%;
    margin-left: 20%;
}

.contactFormTextArea form{
    display: flex;
    width: 300px;
    padding: 10px;
    margin: auto;
}

.contactFormTextArea input{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.contactFormTextArea #enviar{
    transition: all 0.3s ease 0s;;
}

.contactFormTextArea #enviar:hover{
    background-color: #208b3b;
}

.contactFormTextArea textarea{
    width: 100%;
    height: 250px;
    padding: 10px;
    resize: none;
    border: 1px solid #000;
    border-radius: 10px;
}


/* Cierre grid layout contacto */

/* Navegacion footer */

.gridFooter .gridFooterContainer .navBarFooter{
    display: flex;
    justify-content: center;
}

.gridFooter .gridFooterContainer .navBarFooter h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.gridFooter .gridFooterContainer .navBarFooter .navLinksFooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navLinksFooter{
    list-style: none;
    margin-right: 32px;
}

.navLinksFooter a{
    text-decoration: none;
    color: black;
}

.navLinksFooter li{
    display: block;
}

.navLinksFooter li a{
    transition: all 0.3s ease 0s;
}

.navLinksFooter li a:hover{
    color: #208b3b;
}

/* Cierre navegacion footer */

/* Redes y copyright footer */

.gridFooter .gridFooterContainer .socialMediaFooter h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
}

.gridFooter .gridFooterContainer .socialMediaFooter .redesFooter{
    display: flex;
    justify-content: center;
}


.gridFooter .gridFooterContainer .socialMediaFooter #copyright{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 12px;
}

.redesFooter img{
    width: 40px;
    height: 40px;
    margin: 5px;
}

/* Cierre redes y copyright footer */
}